@font-face {
  font-family: 'MinSans-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: Minsans-Medium;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EDE7F6;
}

.container {
  width: 70vw;
  justify-content: center;

  display: flex;
  flex-direction: column;

  border-radius: 12px;

  background-color: #D1C4E9;
}

.input-box{
    font-size: 1rem;
    color: #7E57C2;

    background-color: #EDE7F6;
    border-color: #7E57C2;

    display : block;
    overflow: hidden;
}

.todo-list-box
.done-list-box{
    display : block;
    overflow: auto;
}

.done-list-box{
    font-style: oblique;
}

#todo-input{
    display : inline;
    width : 35vw;

}

#add-todo-btn{
    display : inline;
}

h1{
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

/*  <div class="container">
      <h1>투두</h1>
      <form class="input-box">
        <input id="todo-input" placeholder="오늘 할 일을 입력하세요." />
        <button id="add-todo-btn">+</button>
      </form>
      <section class="todo-list-box">
        <h3 id="todo-list-title">오늘 할 일은 다음과 같아요.</h3>
        <ol class="todo-list"></ol>
      </section>
      <section class="done-list-box">
        <h3 id="done-list-title">이미 다음과 같은 일들을 처리했어요.</h3>
        <ol class="done-list"></ol>
      </section>
    </div>
  </body>
  <script src="script.js"></script>
</html>*?