@font-face {
  font-family: 'MinSans-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: Minsans-Medium;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EDE7F6;
}

.container {
  width: 70vw;
  height : 80vh;
  justify-content: center;

  display: flex;
  flex-direction: column;

  border-radius: 12px;

  background-color: #D1C4E9;
}

.input-box{
    margin : 20px 20px 0px 20px;
    padding : 0px 0px 5px 0px;

    height : 20%;
    justify-content: space-between;
    display : block;
    overflow: auto;
}

.todo-list-box{
    margin : 0px 20px 0px 20px;
    padding : 5px 0px 5px 0px;
    height : 40%;

    display : block;
    overflow: auto;
}

.done-list-box{
    margin : 0px 20px 20px 20px;
    padding : 5px 0px 0px 0px;
    height : 40%;

    display : block;
    overflow: auto;
}

#todo-input{
    margin : 0px 5px 0px 0px;
    display : inline-block;
    height : 3rem;

    font-size: 1.5rem;

    color: #7E57C2;
    background-color: #EDE7F6;
    border-radius: 12px;
    border-color: #7E57C2;

    overflow: hidden;
}

#add-todo-btn{
    margin : 0px 0px 0px 5px
    display : inline-block;
    
}

.todo-list{
    font-size: 1rem;

    color: #7E57C2;
    background-color: #EDE7F6;
    border-radius: 12px; 
}

.done-list{
    font-size: 1rem;

    color: #7E57C2;
    background-color: #EDE7F6;
    border-radius: 12px; 
}

h1{
    font-size: 3rem;
    margin : 20px 20px 20px 20px
}

h3 {
    font-size: 1.5rem;
}



/*  <div class="container">
      <h1>투두</h1>
      <form class="input-box">
        <input id="todo-input" placeholder="오늘 할 일을 입력하세요." />
        <button id="add-todo-btn">+</button>
      </form>
      <section class="todo-list-box">
        <h3 id="todo-list-title">오늘 할 일은 다음과 같아요.</h3>
        <ol class="todo-list"></ol>
      </section>
      <section class="done-list-box">
        <h3 id="done-list-title">이미 다음과 같은 일들을 처리했어요.</h3>
        <ol class="done-list"></ol>
      </section>
    </div>
  </body>
  <script src="script.js"></script>
</html>*?